<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 table-div">
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Room</th>
                        <th>Issue</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Desired Date</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>                
                  <tr *ngFor="let a of appointments">
                    <td>{{ a?.contractorsName }}</td>
                    <td>{{ a.roomNumber }}</td>
                    <td>{{ a.issue }}</td>
                    <td>{{ a.appointmentType }}</td>
                    <td>{{ a.priority }}</td>
                    <td>{{ a.desiredDate }}</td>
                    <td>{{ a.status }}</td>
                    <td>{{ a.createdOn }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf="isUserCareTaker()" class="btn btn-primary">Accept</button>
                      </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>