<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="login-form">
            <div>
                <h2 class="text-center"> Sign In </h2>
                <div class="form-group">
                    <div class="input-group">
                        <input [(ngModel)]="loginModel.userId" (keyup)="validateUserId()" [ngClass]="{'invalid-input': !pageValidator.isUserIdValid}" type="text" class="form-control" placeholder="Username" required="required">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input [(ngModel)]="loginModel.password" (keyup)="validatePassword()" [ngClass]="{'invalid-input': !pageValidator.isPasswordValid}" type="password" class="form-control" placeholder="Password" required="required">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button (click)="onClickLogin()" type="submit" class="btn btn-primary btn-block"> Sign In </button>
                </div>
                <div class="clearfix">
                    <label class="pull-left checkbox-inline"><input [(ngModel)]="loginModel.isPersistent" type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="blockUI" id="loading-div"></div>